# Imports

In [1]:
import pandas as pd
import json

In [2]:
reader = csv.reader(open(path,  encoding="ISO-8859-1"), delimiter=';')
# for row in reader:
#     print(row)

NameError: name 'csv' is not defined

# CSV

In [12]:
path = '../raw_data/test_start_15.csv'
# json.load(open("../app/config.json"))

In [13]:
date_columns = ['Buchungstag', 'Valuta']
df = pd.read_csv(path, 
                 sep=';', 
                 skiprows=15, 
                 encoding="ISO-8859-1", 
                 decimal=',', 
                 thousands='.',
                 parse_dates=date_columns, 
                 dayfirst=True,
                )
df['Umsatz'] = df.Umsatz.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Buchungstag               244 non-null    datetime64[ns]
 1   Valuta                    242 non-null    datetime64[ns]
 2   Textschlüssel             242 non-null    object
 3   Primanota                 242 non-null    float64
 4   Zahlungsempfänger         232 non-null    object
 5   ZahlungsempfängerKto      242 non-null    float64
 6   ZahlungsempfängerIBAN     229 non-null    object
 7   ZahlungsempfängerBLZ      229 non-null    float64
 8   ZahlungsempfängerBIC      229 non-null    object
 9   Vorgang/Verwendungszweck  242 non-null    object
 10  Kundenreferenz            111 non-null    object
 11  Währung                   244 non-null    object
 12  Umsatz                    244 non-null    float64
 13  Soll/Haben                244 non-null    object
dtypes: datetime64[ns](2), float64(4), object(8)
memory usage: 26.9+ KB

In [15]:
df.Buchungstag

0     2022-01-14
1     2022-01-14
2     2022-01-14
3     2022-01-14
4     2022-01-05
         ...
240   2021-03-01
241   2021-03-01
242          NaT
243   2021-03-01
244   2022-01-14
Name: Buchungstag, Length: 245, dtype: datetime64[ns]

In [82]:
row = df.iloc[0]
''.join(row.astype(str))

'2022-01-14 00:00:002022-01-14 00:00:0005 Auszahlung girocard931.0Sparda-Bank Baden-W rttemberg0.0DE8460090800129914008060090800.0GENODEF1S02Lastschrift-Kartenzahlung Sparda-Bank Baden-Wuer/74840 Ulm S/DE                 14.01.2022 um 08:37:27 Uhr GA 60090800/00074840/05663363090100/0012794007/0/1222 REF 958273/26002100074840056633140122083727EUR80.0S'

In [27]:
sel_account = '010.000 (Mieteingang EG)'
file_pdf = None
info = 'info field test'
unique_n = 102

In [67]:
df_dict = {}
df_dict['Konto'] = [sel_account[:6]]
df_dict['Kontoauswahl'] = [sel_account]
df_dict['Datum'] = [row.Buchungstag]
df_dict['Monat'] = [row.Buchungstag.month]
if file_pdf:
    df_dict['Beleg'] = [file_pdf.name]
else:
    df_dict['Beleg'] = ['Account']
df_dict['Beschreibung'] = [info]
df_dict['Ort'] = ['Invoice folder']
df_dict['interne Ablage'] = [unique_n]
df_dict['Betrag'] = [row.Umsatz]
row_transformed = pd.DataFrame(df_dict)

In [76]:
import openpyxl
# load excel with its path
wb = openpyxl.load_workbook(EXCEL_DIRECTORY).active
print(wb.max_row)

2

In [116]:
uniqueness = ''.join(row.astype(str))

In [117]:
uniqueness

'2022-01-14 00:00:002022-01-14 00:00:0005 Auszahlung girocard931.0Sparda-Bank Baden-W rttemberg0.0DE8460090800129914008060090800.0GENODEF1S02Lastschrift-Kartenzahlung Sparda-Bank Baden-Wuer/74840 Ulm S/DE                 14.01.2022 um 08:37:27 Uhr GA 60090800/00074840/05663363090100/0012794007/0/1222 REF 958273/26002100074840056633140122083727EUR80.0S'

In [161]:
from openpyxl import load_workbook
wb = load_workbook(filename = EXCEL_DIRECTORY)
ws = wb['Journal']
validator = [x.value for x in ws['J:J']]
if uniqueness in validator:
    print('ye')

ye

In [177]:
[x.value for x in ws['H:H'][1:]]

In [186]:
max([x.value for x in ws['H:H'] if type(x.value) == int])

102

In [157]:
ws = load_workbook(EXCEL_DIRECTORY)['Journal']
max_row = ws.max_row

In [158]:
with pd.ExcelWriter(EXCEL_DIRECTORY, engine='openpyxl', mode='a', if_sheet_exists='overlay') as writer:
    row_transformed.to_excel(writer, 'Journal', startrow=max_row, header=False, index=False)

In [159]:
row_transformed

,Konto,Kontoauswahl,Datum,Monat,Beleg,Beschreibung,Ort,interne Ablage,Betrag
0,010.00,010.000 (Mieteingang EG),2022-01-14,1,Account,info field test,Invoice folder,102,80.0

## Read excel

In [235]:
destination_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Konto              0 non-null      float64
 1   Kontoauswahl       0 non-null      float64
 2   Datum              0 non-null      float64
 3   Monat              0 non-null      float64
 4   Beleg              0 non-null      float64
 5   Beschreibung       0 non-null      float64
 6   Ort                0 non-null      float64
 7   interne Ablage     6 non-null      object
 8   Betrag             0 non-null      float64
 9   unique_identifier  0 non-null      float64
dtypes: float64(9), object(1)
memory usage: 608.0+ bytes

In [241]:
destination_excel = pd.read_excel(EXCEL_DIRECTORY, sheet_name='Journal')
destination_excel['interne Ablage (NUR ZAHLEN)'].max()

999

In [244]:
df_dict = {}
df_dict['Konto'] = [sel_account[:6]]
df_dict['Kontoauswahl'] = [sel_account]
df_dict['Datum'] = [row.Buchungstag]
df_dict['Monat'] = [row.Buchungstag.month]
if file_pdf:
    df_dict['Beleg'] = [file_pdf.name]
else:
    df_dict['Beleg'] = ['Account']
df_dict['Beschreibung'] = [info]
df_dict['Ort'] = ['Invoice folder']
df_dict['interne Ablage'] = [unique_n]
df_dict['Betrag'] = [row.Umsatz]
df_dict['unique_identifier'] = ''.join(row.astype(str))
row_transformed = pd.DataFrame(df_dict)

In [245]:
row_transformed

,Konto,Kontoauswahl,Datum,Monat,Beleg,Beschreibung,Ort,interne Ablage,Betrag,unique_identifier
0,010.00,010.000 (Mieteingang EG),2022-01-14,1,Account,info field test,Invoice folder,102,80.0,2022-01-14 00:00:002022-01-14 00:00:0005 Ausza...