# Imports

In [25]:
import pandas as pd
import json

In [2]:
reader = csv.reader(open(path,  encoding="ISO-8859-1"), delimiter=';')
# for row in reader:
#     print(row)

NameError: name 'path' is not defined

# CSV

In [26]:
path = '../raw_data/test_file.csv'
# json.load(open("../app/config.json"))

{'010.000 (Mieteingang EG)': '010.000',
 '010.001 (Mieteingang 1OG)': '010.001',
 '010.002 (Mieteingang 2OG)': '010.002',
 '010.003 (Mieteingang 3OG)': '010.003',
 '010.004 (Mieteingang 4OG)': '010.004',
 '020.000 (Betriebskostenvorauszahlungen)': '020.000',
 '020.001 (Betriebskostenvorauszahlungen)': '020.001',
 '020.002 (Betriebskostenvorauszahlungen)': '020.002',
 '020.003 (Betriebskostenvorauszahlungen)': '020.003',
 '020.004 (Betriebskostenvorauszahlungen)': '020.004',
 '030.000 (Betriebskosten unaufgeschlüsselt)': '030.000',
 '030.010 (Gas)': '030.010',
 '030.020 (Strom)': '030.020',
 '030.021 (Wasser)': '030.021',
 '030.022 (Abwasser)': '030.022',
 '030.030 (Müll)': '030.030',
 '030.031 (Niederschlagswasser)': '030.031',
 '030.060 (Internet)': '030.060',
 '040.000 (Instandhaltungskosten)': '040.000',
 '040.001 (Beraterkosten)': '040.001',
 '040.002 (Sonst. Anschaffungskosten)': '040.002',
 '050.000 (Versicherungen)': '050.000',
 '060.000 (Abschreibungen)': '060.000',
 '070.000 (Zinsen)': '070.000',
 '080.000 (Kaufpreis)': '080.000',
 '080.010 (Kaufpreisnebenkosten)': '080.010'}

In [24]:
df.astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Buchungstag               244 non-null    string
 1   Valuta                    242 non-null    string
 2   Textschlüssel             242 non-null    string
 3   Primanota                 242 non-null    string
 4   Zahlungsempfänger         232 non-null    string
 5   ZahlungsempfängerKto      242 non-null    string
 6   ZahlungsempfängerIBAN     229 non-null    string
 7   ZahlungsempfängerBLZ      229 non-null    string
 8   ZahlungsempfängerBIC      229 non-null    string
 9   Vorgang/Verwendungszweck  242 non-null    string
 10  Kundenreferenz            111 non-null    string
 11  Währung                   244 non-null    string
 12  Umsatz                    244 non-null    string
 13  Soll/Haben                244 non-null    string
dtypes: string(14)
memory usage: 26.9 KB

In [12]:
date_columns = ['Buchungstag', 'Valuta']
df = pd.read_csv(path, 
                 sep=';', 
                 skiprows=15, 
                 encoding="ISO-8859-1", 
                 decimal=',', 
                 thousands='.',
                 parse_dates=date_columns, 
                 dayfirst=True,
                )
df['Umsatz'] = df.Umsatz.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Buchungstag               244 non-null    datetime64[ns]
 1   Valuta                    242 non-null    datetime64[ns]
 2   Textschlüssel             242 non-null    object
 3   Primanota                 242 non-null    float64
 4   Zahlungsempfänger         232 non-null    object
 5   ZahlungsempfängerKto      242 non-null    float64
 6   ZahlungsempfängerIBAN     229 non-null    object
 7   ZahlungsempfängerBLZ      229 non-null    float64
 8   ZahlungsempfängerBIC      229 non-null    object
 9   Vorgang/Verwendungszweck  242 non-null    object
 10  Kundenreferenz            111 non-null    object
 11  Währung                   244 non-null    object
 12  Umsatz                    244 non-null    float64
 13  Soll/Haben                244 non-null    object
dtypes: datetime64[ns](2), float64(4), object(8)
memory usage: 26.9+ KB

In [13]:
df.head()

,Buchungstag,Valuta,Textschlüssel,Primanota,Zahlungsempfänger,ZahlungsempfängerKto,ZahlungsempfängerIBAN,ZahlungsempfängerBLZ,ZahlungsempfängerBIC,Vorgang/Verwendungszweck,Kundenreferenz,Währung,Umsatz,Soll/Haben
0,2022-01-14,2022-01-14,05 Auszahlung girocard,931.0,Sparda-Bank Baden-W rttemberg,0.0,DE84600908001299140080,60090800.0,GENODEF1S02,Lastschrift-Kartenzahlung Sparda-Bank Baden-Wu...,00074840056633140122083727,EUR,80.00,S
1,2022-01-14,2022-01-14,05 Basislastschrift,931.0,IKEA Deutschland Gmb,0.0,DE81302201900029610169,30220190.0,HYVEDEMM414,Lastschrift 120110050050660221200003280 ELV654...,12011005005066022120000328065450116,EUR,264.00,S
2,2022-01-14,2022-01-14,05 Basislastschrift,931.0,HORNBACH ULM,0.0,DE35500400000600247159,50040000.0,COBADEFFXXX,Lastschrift 120109390056578221200006310 ELV651...,12010939005657822120000631065148356,EUR,119.10,S
3,2022-01-14,2022-01-14,08 Dauerauftrag,900.0,SWU Energie GmbH,0.0,DE53630500000000100089,63050000.0,SOLADES1ULM,Überweisung Vertrtagskontonr.: 9204428961 /*DA...,NaN,EUR,85.00,S
4,2022-01-05,2022-01-05,05 Basislastschrift,931.0,HORNBACH ULM,0.0,DE35500400000600247159,50040000.0,COBADEFFXXX,Lastschrift 030116050055508221200006316 ELV651...,03011605005550822120000631665148356,EUR,20.75,S

In [23]:
df

,Buchungstag,Valuta,Textschlüssel,Primanota,Zahlungsempfänger,ZahlungsempfängerKto,ZahlungsempfängerIBAN,ZahlungsempfängerBLZ,ZahlungsempfängerBIC,Vorgang/Verwendungszweck,Kundenreferenz,Währung,Umsatz,Soll/Haben
0,14.01.2022,14.01.2022,05 Auszahlung girocard,931.0,Sparda-Bank Baden-W rttemberg,0.0,DE84600908001299140080,60090800.0,GENODEF1S02,Lastschrift-Kartenzahlung Sparda-Bank Baden-Wu...,00074840056633140122083727,EUR,"80,00",S
1,14.01.2022,14.01.2022,05 Basislastschrift,931.0,IKEA Deutschland Gmb,0.0,DE81302201900029610169,30220190.0,HYVEDEMM414,Lastschrift 120110050050660221200003280 ELV654...,12011005005066022120000328065450116,EUR,"264,00",S
2,14.01.2022,14.01.2022,05 Basislastschrift,931.0,HORNBACH ULM,0.0,DE35500400000600247159,50040000.0,COBADEFFXXX,Lastschrift 120109390056578221200006310 ELV651...,12010939005657822120000631065148356,EUR,"119,10",S
3,14.01.2022,14.01.2022,08 Dauerauftrag,900.0,SWU Energie GmbH,0.0,DE53630500000000100089,63050000.0,SOLADES1ULM,Überweisung Vertrtagskontonr.: 9204428961 /*DA...,NaN,EUR,"85,00",S
4,05.01.2022,05.01.2022,05 Basislastschrift,931.0,HORNBACH ULM,0.0,DE35500400000600247159,50040000.0,COBADEFFXXX,Lastschrift 030116050055508221200006316 ELV651...,03011605005550822120000631665148356,EUR,"20,75",S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,01.03.2021,01.03.2021,51 Überweisungsgutschr.,931.0,MOHAMMAD ALHMAD,0.0,DE39630500001011336690,63050000.0,SOLADES1ULM,Überweisung miete,NaN,EUR,"400,00",H
241,01.03.2021,01.03.2021,16 Euro-Überweisung,801.0,Hartschuh GmbH,2528002.0,DE76630901000002528002,63090100.0,ULMVDE66XXX,Überweisung Rechnungsnr.: 403117 Kundennr.: 50...,NaN,EUR,"401,89",S
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,01.03.2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anfangssaldo,EUR,"23.953,83",H
244,14.01.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Endsaldo,EUR,"11.066,59",H

In [49]:
for c, row in df.iterrows():
    print(row.Umsatz)

80.0
264.0
119.1
85.0
20.75
12.99
1010.0
760.0
1346.0
59.85
82.43
1045.0
349.99
52.0
50.78
1557.47
3.9
1152.0
1055.0
16.5
29.99
39.98
4.75
2653.0
45.98
380.0
250.85
62.0
58.0
317.0
85.0
50.0
147.0
60.95
85.0
150.0
63.61
1010.0
1045.0
760.0
1346.0
1055.0
4.9
1152.0
29.99
39.98
380.0
1000.0
100.0
100.0
62.0
58.0
317.0
1000.0
85.0
639.63
187.45
65.62
147.0
85.0
421.95
430.0
1010.0
1045.0
1346.0
1055.0
760.0
380.0
4.9
1152.0
29.99
39.98
469.34
430.0
62.0
317.0
58.0
147.0
85.0
1010.0
1045.0
430.0
1346.0
760.0
844.0
4.9
1152.0
380.0
39.98
29.99
62.0
317.0
58.0
147.0
85.0
1010.0
1045.0
230.0
430.0
760.0
1346.0
791.25
4.9
39.98
29.99
642.12
1152.0
380.0
3000.0
317.0
58.0
62.0
430.0
65.59
147.0
187.45
85.0
5000.0
1010.0
1045.0
1346.0
760.0
791.25
350.0
380.0
350.0
4.9
1152.0
29.99
39.98
281.22
317.0
58.0
62.0
147.0
85.0
200.0
287.14
62.12
836.71
836.71
1010.0
208.29
430.0
400.0
1346.0
380.0
760.0
4.9
1152.0
39.98
29.99
1055.0
70.09
23.99
62.0
317.0
58.0
147.0
85.0
430.0
208.29
360.89
1346.0
430.0
760.0
4.9
1055.0
29.99
39.98
1152.0
380.0
58.0
317.0
62.0
19.89
5000.0
147.0
187.45
85.0
2448.5
100.0
57.81
430.0
1050.0
430.0
207.86
327.45
327.45
327.45
1346.0
760.0
208.29
4.9
1152.0
324.67
39.98
29.99
380.0
58.0
317.0
62.0
13000.0
5000.0
147.0
85.0
182.0
1050.0
1100.0
410.0
1346.0
420.0
7000.0
7.4
380.0
39.98
29.99
1152.0
760.0
1100.0
1000.0
89.69
317.0
58.0
70.09
147.0
85.0
30.0
767.0
920.0
594.05
12.0
12.0
1050.0
760.0
430.0
1100.0
767.0
530.0
1346.0
400.0
401.89
nan
23953.83
11066.59